name: Build

on:
  push:
    branches: [ main ]
    paths-ignore:
    - 'doc/**'
    - 'readme.md'

  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6
    - name: Test
      run: dotnet test --configuration Release
