name: Publish

on:
  push:
    tags: 
      - 'v*.*.*'

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6
    - name: Install dependencies
      run: dotnet restore
    - name: Test
      run: dotnet test -c Release
    - name: Pack with dotnet
      run: |
        # Strip leading 'v' if present
        VERSION="${GITHUB_REF_NAME#v}"
        echo "VERSION=${VERSION}" >> $GITHUB_OUTPUT
        dotnet pack --output artifacts --configuration Release -p:Version=$VERSION
    - name: Push with dotnet
      run: dotnet nuget push artifacts/*.nupkg --api-key ${{ secrets.NUGET_API_KEY }} --source https://api.nuget.org/v3/index.json
